# 布尔索引

首先生成数据：

In [52]:
import pandas as pd
import numpy as np

dates = pd.date_range('20130101', periods=6, freq='D')
df = pd.DataFrame(np.random.rand(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  0.933532  0.904916  0.813344  0.054131
2013-01-02  0.532072  0.425427  0.209373  0.311181
2013-01-03  0.246667  0.092706  0.823747  0.994064
2013-01-04  0.574694  0.469739  0.553898  0.369439
2013-01-05  0.036364  0.082365  0.180292  0.338653
2013-01-06  0.830228  0.078377  0.454289  0.317386

使用布尔判断条件进行索引：

In [53]:
df[df['A'] > 0.4]

                   A         B         C         D
2013-01-01  0.933532  0.904916  0.813344  0.054131
2013-01-02  0.532072  0.425427  0.209373  0.311181
2013-01-04  0.574694  0.469739  0.553898  0.369439
2013-01-06  0.830228  0.078377  0.454289  0.317386

In [54]:
df[df > 0.5]

                   A         B         C         D
2013-01-01  0.933532  0.904916  0.813344       NaN
2013-01-02  0.532072       NaN       NaN       NaN
2013-01-03       NaN       NaN  0.823747  0.994064
2013-01-04  0.574694       NaN  0.553898       NaN
2013-01-05       NaN       NaN       NaN       NaN
2013-01-06  0.830228       NaN       NaN       NaN

In [55]:
df2 = df.copy()
df2['E'] = ['one', 'one', 'two', 'three', 'four', 'three']
df2

                   A         B         C         D      E
2013-01-01  0.933532  0.904916  0.813344  0.054131    one
2013-01-02  0.532072  0.425427  0.209373  0.311181    one
2013-01-03  0.246667  0.092706  0.823747  0.994064    two
2013-01-04  0.574694  0.469739  0.553898  0.369439  three
2013-01-05  0.036364  0.082365  0.180292  0.338653   four
2013-01-06  0.830228  0.078377  0.454289  0.317386  three

In [56]:
df2[df2['E'].isin(['one', 'two'])]

                   A         B         C         D    E
2013-01-01  0.933532  0.904916  0.813344  0.054131  one
2013-01-02  0.532072  0.425427  0.209373  0.311181  one
2013-01-03  0.246667  0.092706  0.823747  0.994064  two

也可以使用更为简单的 query 进行处理：

In [57]:
df2.query('A > 0.5 and B < 0.4 or C > 0.7')

                   A         B         C         D      E
2013-01-01  0.933532  0.904916  0.813344  0.054131    one
2013-01-03  0.246667  0.092706  0.823747  0.994064    two
2013-01-06  0.830228  0.078377  0.454289  0.317386  three