# pandas对象创建
按照惯例，先引入所需包，包括 numpy 以及 pandas：

In [72]:
import numpy as np
import pandas as pd

用值生成pandas.Series时，默认自动生成整数索引:

In [73]:
s= pd.Series([1, 3, 5, np.nan, 7, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    7.0
5    8.0
dtype: float64

使用 numpy 数组创建 DataFrame，使用 datetime 作为 index：

In [74]:
dates = pd.date_range(start='20130101', periods=6, freq='Y')
dates

DatetimeIndex(['2013-12-31', '2014-12-31', '2015-12-31', '2016-12-31',
               '2017-12-31', '2018-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [75]:
df = pd.DataFrame(np.random.rand(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-12-31  0.168004  0.635238  0.739111  0.142876
2014-12-31  0.672256  0.890836  0.876457  0.183195
2015-12-31  0.839444  0.782295  0.394522  0.660837
2016-12-31  0.894755  0.931337  0.045848  0.390392
2017-12-31  0.481803  0.677151  0.645688  0.388801
2018-12-31  0.564461  0.866819  0.158407  0.824227

可以通过字典结构数据创建类似 Series 结构的 DataFrame：

In [76]:
df2 = pd.DataFrame(
    {
        'A': 1.0,
        'B': pd.Timestamp('20130101'),
        'C': pd.Series(1, index=list(range(4)), dtype=np.float32),
        'D': np.array([3] * 4, dtype=np.int32),
        'E': pd.Categorical(['test', 'train', 'test', 'train']),
        'F': 'foo',
    }
)
df2

     A          B    C  D      E    F
0  1.0 2013-01-01  1.0  3   test  foo
1  1.0 2013-01-01  1.0  3  train  foo
2  1.0 2013-01-01  1.0  3   test  foo
3  1.0 2013-01-01  1.0  3  train  foo

In [77]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [78]:
df2.C

0    1.0
1    1.0
2    1.0
3    1.0
Name: C, dtype: float32